.menu-click-icon {
    display: none;
}
@media (max-width: 400px) {
    .menu-click-icon{
        display: contents;
        width: 100%;
        background-color: brown;
    }
}

@media (max-width: 768px) {
    .menu-click-icon{
        display: contents;
    }
}