.we-help-section {
  display: block;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.justify-content-between {
  justify-content: space-between !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.mb5 {
  margin-bottom: 3rem !important;
}

.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url(/images/t.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgs-grid {
  width: 60%;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
.grid-1 {
  border-radius: 20px;
  width: 350px;
  height: 420px;
  margin-right: 20px;
}
.grid-2 {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}
.grid-3 {
  border-radius: 20px;
  width: 300px;
  height: 350px;
}
.content {
  width: 40%;
  margin-top: 120px;
  margin-right: 30px;
}
.section-title {
  color: #2f2f2f;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
h2 {
  opacity: 0.9;
}
p {
  opacity: 0.6;
  display: flex;
  margin-top: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content_list {
  display: flex;
  opacity: 0.6;
}
.left,
.right {
  flex: 1;
}
.btn {
  font-weight: 600;
  border-radius: 30px;
  padding: 12px 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
}
