@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 25px;
    padding: 3px;
    margin-bottom: 0;
    font-family: 'poppins',sans-serif;
}
h1{
    font-size: 30px
    float: left;
}
a {
    font-size: 10px;
    float: right;
    color: gray;
}
.pictute1{
    position: relative;
    width: 350px;
    height: 450px;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    float: left;
}
.ha1{
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    
}
.hinhanh::after{
    padding: 1px;
    content: "";
    clear: both;
    display: table;
}
