body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.header div:nth-child(1) {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div:nth-child(1) div {
    width: 50%;
    font-weight: bold;
}
.header div:nth-child(1) span {
    width: 50%;
    font-weight: bold;
    font-size: 28px;
}
.header div:nth-child(1) svg {
    width: 50%;
    height: 60%;
    margin-left: 140px;
}
.header div:nth-child(2) {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div:nth-child(2)> a {
    text-decoration: none;
    color: #101010;
    font-size: 18px;
    margin-right: 80px;
}

.header div:nth-child(3) {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div:nth-child(3) > button {
    height: 50%;
    width: 50%;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background-color: #101010;
}

.header {
    display: flex;
    height: 8vh;
}

.content {
    height: 82vh;
    display: flex;
    background-color: burlywood;
}

.contact {
    display: flex;
    height: 10vh;
}

.contact div:nth-child(1) {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact>div:nth-child(2),
.contact>div:nth-child(4),
.contact>div:nth-child(3),
.contact>div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 100%;
}

.contact>div:nth-child(1)>div {
    width: 80%;
    height: 70%;
    border-radius: 50px;
    border: 1px solid gainsboro;
    display: flex;
}

.contact>div:nth-child(1)>div>div:nth-child(1) {
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact>div:nth-child(1)>div>div:nth-child(2),
.contact>div:nth-child(1)>div>div:nth-child(3),
.contact>div:nth-child(1)>div>div:nth-child(4),
.contact>div:nth-child(1)>div>div:nth-child(5) {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact>div:nth-child(1)>div>div:nth-child(1)>span {
    font-size: 16px;
    color: gray;
    margin-left: 25px;
}

.contact>div:nth-child(1)>div>div:nth-child(2)>div,
.contact>div:nth-child(1)>div>div:nth-child(3)>div,
.contact>div:nth-child(1)>div>div:nth-child(4)>div,
.contact>div:nth-child(1)>div>div:nth-child(5)>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid gainsboro;
    border-radius: 30px;
}

.contact>div:nth-child(1)>div>div:nth-child(2)>div>a,
.contact>div:nth-child(1)>div>div:nth-child(3)>div>a,
.contact>div:nth-child(1)>div>div:nth-child(4)>div>a,
.contact>div:nth-child(1)>div>div:nth-child(5)>div>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {

    .header div:nth-child(1),
    .header div:nth-child(3) {
        width: 100%;
        height: 8vh;
    }

    .header div:nth-child(2) {
        display: none;
    }
    .contact {
        flex-direction: column;
        height: 50vh;
    }
    .contact div:nth-child(1),
    .contact div:nth-child(2),
    .contact div:nth-child(3),
    .contact div:nth-child(4),
    .contact div:nth-child(5) {
        width: 100%;
    }
    .header div:nth-child(1) svg {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px) {

    .header div:nth-child(1),
    .header div:nth-child(3) {
        width: 100%;
        height: 8vh;
    }

    .header div:nth-child(2) {
        display: none;
    }
    .contact {
        flex-direction: column;
        height: 50vh;
    }
    .contact div:nth-child(1),
    .contact div:nth-child(2),
    .contact div:nth-child(3),
    .contact div:nth-child(4),
    .contact div:nth-child(5) {
        width: 100%;
    }
    .header div:nth-child(1) svg {
        margin-left: 10px;
    }  
}

