body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
}
.untree_co-section {
    padding: 7rem 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center!important;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.pb-4 {
    padding-bottom: 1.5rem!important;
}
.mb-5 {
    margin-bottom: 3rem!important;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.service {
    line-height: 1.5;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.service .service-icon {
    border-radius: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3b5d50;
    margin-right: 20px;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#frame, #lrame{
    width: 315px;
    height: 40px;
}
#email{
    width: 765px;
    height: 40px;
}
#message{
    width: 765px;
    height: 100px;
}
.service {
    line-height: 1.5;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
label {
    display: inline-block;
}
.form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}
.btn {
    height: 50px;
    width: 170px;
    font-weight: 600px;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
    text-align: center;
    vertical-align: middle;
}
