.content-1 {
    height: 56vh;
    background-color: #180c77;
    width: 100%;
    display: flex;
    justify-content: center;
}

.child {
    width: 68%;
    background-color: #eff2f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    width: 40%;
    height: 100%;
    background-color: bisque;
}
.right-side {
    width: 60%;
    height: 100%;
    background-color: #f9bf29;
}

.div-1 {
    width: 100%;
    font-size: 40px;
    color: white;
    font-weight: 600;
    height: 40%;
}
.div-2 {
    width: 100%;
    font-size: 14px;
    color: white;
    opacity: 0.8;
    height: 10%;
}
.div-3 {
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.shop-now {
    width: 140px;
    height: 50px;
    background-color: #f9bf29;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    padding: 16px 30px;
    color: #2f2f2f;
    font-weight: 600;
}

.explore {
    width: 140px;
    height: 50px;
    background-color: #f9bf29;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    padding: 16px 30px;
    color: #2f2f2f;
    font-weight: 600;
}


